/* Todos.css */

/* Style for the list container */
.list-container {
    margin-top: 1rem;
  }
  
  /* Style for each list item */
  .custom-list-item {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lime;
    padding: 0.5rem 1rem;
    color: #fff;
    width: 641px;
    margin-left: 200px;
  }
  
  /* Style for the input field when in edit mode */
  .edit-input {
    width: 406px;
    padding: 0.25rem;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
    color: black;
  }
  
  /* Style for the buttons */
  .action-button {
    color: white;
    border: white solid 3px;
    padding: 0.3rem 1.3rem;
    cursor: pointer;
    height: 50px;
    width: 84px; 
  }
  
  .action-button.save-button {
    background-color: #4caf50; /* Green color for Save button */
  }
  
  .action-button.edit-button {
    background-color: #30084f;
    text-decoration-color: black; /* Blue color for Edit button */
  }
  
.act  ion-button.delete-button {
    background-color: #ad170c; /* Red color for Delete button */
  }
  

  /* Define a CSS class for your button */
.custom-button {
  color: white;
  border: white solid 3px;
  padding: 0.3rem 1.3rem;
  cursor: pointer;
  height: 50px;
  width: 84px;
  margin-left: 15px;
    
  }
  
/* TodoForm.css */

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem; /* Adjust the margin as needed */
  }
  
  .todo-input {
    
    
    color:black; /* text-gray-100 */
    padding: 0.5rem 1rem; /* py-1 px-3 */
    font-size: 1rem; /* text-base */
    outline: none;
    width: 500px;
    height: 50px;

  }
  

  .todo-button {
    color: white;
    border: 2px solid #ece5e5;
    padding: 0.5rem 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 144px;
    margin-right: 179px;
  }

  
  
  
  